@model SMBigNumbersLab.Models.Entry1


@{

    Html.AntiForgeryToken();
    Html.ValidationSummary(true);
}
<fieldset>
        <div class="mb-3 ml-5">
        <label for="Number1" class="form-label labels_of_controls">@Model.lblNumber1</label>
        <input asp-for="Number1" type="text" class="form-control midium_txt" id="txtNum1" placeholder="Enter a number">
        </div>
    <div class="row err_message">
            @Html.ValidationMessageFor(model => model.Number1)
        </div>


    <div class="mb-3 ml-5">

        <div class="row">
            <label for="lblNumber1" class="form-label labels_of_controls">Result:</label>
        </div>        
        <div class="row">
            <div class="dvResult">
                @Model.Result
            </div>
        </div>
    </div>
    <div class="mb-3 ml-5">
        <button class="btn btn-primary" id="butResult">
            Click for Result
        </button>
    </div>
</fieldset>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#butResult").on("click", function () {           
            $("form").submit();
        })
        
    })
 </script>