@{
    ViewData["Title"] = "Home Page";
}



    <div class="row" style="padding-bottom:200px;">
    <div class="col-lg-3">
            <img accesskey="1" src="~/images/robot2.png" alt="SMBigNumbersLab Logo" width="550" height="600" style="position:relative;"/>
       </div>
        <div class="col-lg-9">
            <p>
            This project is for working with really big numbers. Actually, the length of a result number is 
            limited just by the volume of memory of your computer.
            </p>
            <p>
            For example, using normal integers, you can calculate the maximum 78-th member of the 
            Fibonacci’s series. Here you can calculate any, even 1000-th or more!
            </p>
            <div class="greeting">
                Enjoy the math!
            </div>
       </div>
    </div>



