@{
    ViewData["Title"] = "Home Page";
}



<div class="MainArticle">
    <figure class="img_room">
        <img accesskey="1" src="~/images/robot2.png" alt="SMBigNumbersLab Logo"/>
    </figure>
    <div class="texts_container">
        <p>
        This project is for working with really big numbers. Actually, the length of a result number is 
        limited just by the volume of memory of your computer.
        </p>
        <p>
        For example, using normal integers, you can calculate the maximum 78-th member of the 
        Fibonacci’s series. Here you can calculate any, even 1000-th or more!
        </p>

    </div>
    <div class="greeting">
        Enjoy the math!
    </div>
</div>



