
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lab">
    <div class="row">
        <div class="col-8 main_img">
            
        </div>
        <div class="col-4 mt-5">
            <h4>
                You can operate with really big numbers. The only limit is the amount of memory in your computer.

            </h4>
            <ul>
                <li>@Html.ActionLink("Power","Power","Lab")</li>
                <li>@Html.ActionLink("Fibonacci sequence", "Fibonacci", "Lab")</li>
                <li>@Html.ActionLink("Arithmetic progression", "ArProgression", "Lab")</li>
                <li>@Html.ActionLink("Geometric progression", "GeomProgression", "Lab")</li>

            </ul>
        </div>
    </div>
</div>