
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lab">
    <div class="row">
        <div class="col-9 main_img">
            
        </div>
        <div class="col-3 mt-5">
            <ul>
                <li>@Html.ActionLink("Power","Power","Lab")</li>
                <li>@Html.ActionLink("Fibonacci sequence", "Fibonacci", "Lab")</li>
            </ul>
        </div>
    </div>
</div>