@{
    ViewBag.Title = "Power";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page_header">Power</div>
<div class="explanation">
    <p>
        Enter a base and exponent. Those numbers can be as big as you want
    </p>
</div>

@{
    Html.BeginForm("GetPowerResult", "lab", FormMethod.Post);

    await Html.RenderPartialAsync("_TwoNumbersInputForm");
}
