@{
    ViewBag.Title = "Power";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page_header">Power</div>

<p class="col-7">
    Enter a base and exponent. Those numbers can be as big as you want</p>

@{
    Html.BeginForm("GetPowerResult", "lab", FormMethod.Post);

    await Html.RenderPartialAsync("_TwoNumbersInputForm");
}
