@font-face {
    font-family: Algerian;
    src: url('../fonts/ALGER.TTF'); 
}
body {
    background-color: #458BBA;
}
h2 {
    color: #064aa8;
    font-family: Rockwell;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 100px;

}
h4 {
    color: #064aa8;
    font-family: Rockwell;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 50px;
}
fieldset{
    margin-left:100px;
}
.page_header {
    color: #064aa8;
    font-family: Rockwell;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 100px;
    display: block;
}
p{
    color:darkslateblue;
    font-family:'Arial Nova';
    font-size:x-large;
}
    p::first-letter {
        font-size: 2.0rem;
        font-weight: bold;
        color: darkblue;
        font-family:Algerian;
        margin-left:50px;

    }
a{
    color:azure;
    text-decoration:none;
}
    a:hover {
        color: #8dcffb;
    }

.greeting {
    color: darkblue;
    font-size: 3.0rem;
    font-family: Algerian;
    text-align:center;
    display:block;
    width:100%;
}
.logo {
    color: #064aa8;
    font-family:Rockwell;
    font-weight:bolder;
    font-size:35px;
}
.nav_style {
    background-color: #458BBA;
    color:azure;
}
.menu_style {
    font-family: Rockwell;
    font-size:25px;
}
.lab {
    background-image: linear-gradient(to right, #000B2C, #00114B);
    height: 80vh;
}
li{
    color:antiquewhite;
    font-size:25px;
    
}
.main_img {
    background-image: url("../images/bg_lab2.png");
    background-repeat: repeat-y;
    height: 80vh;
}
.labels_of_controls {
    color: #d9d2c6;
    font-size: 22px;
    font-weight: normal;
}
.midium_txt {
    width: 75%;
}
.dvResult {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    width: 75%;
    color: darkslateblue;
    background-color: #cee7e9;
    margin-left: 10px;
    border: 1px solid navy;
    border-radius: 5px;
    min-height: 100px;
    word-break: break-all;
}
@media only screen and (min-width: 1100px) {
    .dvResult {
        width: 40%;
    }
    .midium_txt {
        width: 40%;        
    }
}
.err_message {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.MainArticle {
    width: 100%;
    flex: 1 0 auto;
}
.img_room {
    padding: 10px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
    .img_room img {
        aspect-ratio: auto;
        width: 100%;
        display: block;
    }
.texts_container {
    display: inline-block;
    width:65%;
    min-height:80%;
    height:80%;
    margin-top:5%;
}
.explanation
{
    display:block;
    width:90%;
    margin: 0 auto;
}